@font-face {
    font-family: Monument Extended;
    src: url(../fonts/MonumentExtended-Ultrabold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    /* background-image: url(./images/logo.png); */
    background-size: 500px;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left 50% top 65%;
}
header{
    font-size: 20px;
    font-family: Monument Extended;
    color: #2E7D32;
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 40vw;
    border: 1px solid gray;
    border-radius: 20px;
    position: relative;
    padding: 64px;
    background-color: rgb(250, 250, 250, 0.6);
}
section::before{
    content: '';
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 10%;
    right: 0;
    top: 0;
    bottom: 0;
    filter: opacity(.4);
    animation: slides 10s infinite;
}
@keyframes slides {
    33%{
        transform: translateX(-10%);
    }
    66%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(0%);
    }
}
main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
main div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
label{
    font-size: 25px;
    font-family: Monument Extended;
    line-height: 38px;
    color: #2E7D32;
    color: black;
}
input{
    padding: 12px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    border: 1px solid gray;
}
button{
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    background-color: #2E7D32;
    color: white;
    border: none;
    position: relative;
}

@media (max-width: 1600px){
    body{
        max-width: 1600px;
    }
}
@media (max-width: 1920px){
    body{
        max-width: 1600px;
    }
}
@media (max-width: 2560px){
    body{
        max-width: 1600px;
    }
}
@media (max-width: 1200px){
    body{
        max-width: 100%;
    }
    section{
        width: 60%;
    }
}
@media (max-width: 1000px){
    body{
        max-width: 100%;
    }
    section{
        width: 70%;
    }
}
@media (max-width: 900px){
    body{
        max-width: 1600px;
    }
    section{
        width: 70%;
    }
}
@media (max-width: 760px){
    body{
        max-width: 100%;
    }
    section{
        width: 90%;
        padding: 48px;
    }
    header{
        font-size: 16px;
    }
    label{
        font-size: 18px;
    }
    input{
        font-size: 16px;
    }
}
@media (max-width: 400px) {
    header{
        font-size: 14px;
    }
}